mat-grid-tile {
    background: lightblue;
  }
  
  .mat-toolbar {
    background: #26c6da;
    color: white;
    font-size: x-large;
  }
  
  table {
    width: 100%;
  }
  
  .icon{
    color: #06476d;
    font-size: 25px;
  }