<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-toolbar class="card-header">
            <div class="header">
                <p>Rechazos Diarios</p>
            </div>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <form  id="formRechazos_dia">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25">
                            <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio" id="fecha_ini" required>
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>event</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30"></div>
                        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" >
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" placeholder="Fecha de fin" id="fecha_fin" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                    <mat-icon matDatepickerToggleIcon>event</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="">Este campo no puede ser vacio</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30"></div>
                        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25">
                            <mat-dialog-actions fxLayout fxLayoutAlign="center">
                                <button mat-raised-button color="primary" type="submit" id="boton">Buscar
					<mat-icon>search</mat-icon>
				  </button>
                            </mat-dialog-actions>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="num_tc">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No.TC </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.num_tc}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Transacc </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.fecha}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="comercio">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Comercio </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.comercio}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="pais">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> País </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.pais}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Origen </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.origen}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="mont_orig">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Monto Orig </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.mont_orig}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="monto_fact">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Monto Fact. </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.monto_fact}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="cod_razon">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cod Razon </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.cod_razon}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estatus </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.status}} </td>
            </ng-container>

            <!-- Detalle Column -->
            <ng-container matColumnDef="detalle">
				<th mat-header-cell *matHeaderCellDef style="text-align: center;"> Detalle </th>
				<td mat-cell *matCellDef="let row" style="text-align: center;">
				  <mat-icon class="icon" id="ico" matTooltip="Detalles Rechazos Diarios" (click)="detRechazosDiarios(row)" matTooltipPosition="above">preview</mat-icon>
				</td>
			</ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>

    </div>