<h1 mat-dialog-title>Información del Chip</h1>
<div mat-dialog-content>
	<div fxLayout="row" fxFlex>
		<div style="margin-left: 20px;">
			<mat-form-field>
				<input matInput placeholder="Application Cryptogram(AC)" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Issuer Application Data(IAD)" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Application Transaction Counter" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Transaction Date" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Amount Authorize(numeric)" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Application Interchange Profile" value="6569Dd8Sd" disabled>
			</mat-form-field>
		</div>
		<div style="margin-left: 20px;">
            <mat-form-field>
				<input matInput placeholder="Amount, Other(numeric)" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Terminal Capibilities" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Interface Device Serial Number" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Dedicate File Name" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Transaction Sequence Counter" value="6569Dd8Sd" disabled>
			</mat-form-field>
		</div>
		<div style="margin-left: 20px;">
			<mat-form-field>
				<input matInput placeholder="Cryptogram Information Data" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Unpredictable Number" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Terminal Verification Result" value="6569Dd8Sd" disabled>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Transaction Type" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Transaction Currency Code" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Terminal Country Code" value="6569Dd8Sd" disabled>
			</mat-form-field>
		</div>
		<div style="margin-left: 20px;">
            <mat-form-field>
				<input matInput placeholder="Cardholder Verification Method (CVM) Result" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Terminal Type" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Transaction Category Code" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Terminal Application Version Number" value="6569Dd8Sd" disabled>
			</mat-form-field>
            <mat-form-field>
				<input matInput placeholder="Issuer Authentication Data" value="6569Dd8Sd" disabled>
			</mat-form-field>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-raised-button mat-dialog-close color="primary">Cerrar</button>
	<button mat-raised-button mat-dialog-close color="accent">Exportar Excel</button>
</div>


